[submodule "INO/GCL02/MM414332/lab_3/INO/GCL02/MM414332/lab_3/node-typescript-boilerplate"]
	path = INO/GCL02/MM414332/lab_3/INO/GCL02/MM414332/lab_3/node-typescript-boilerplate
	url = https://github.com/jsynowiec/node-typescript-boilerplate.git
