#version=DEVEL

url --mirrorlist=http://mirrors.fedoraproject.org/mirrorlist?repo=fedora-41&arch=x86_64
repo --name=update --mirrorlist=http://mirrors.fedoraproject.org/mirrorlist?repo=updates-released-f41&arch=x86_64

# System language
lang en_GB.UTF-8

# Keyboard layouts
keyboard --vckeymap=uk --xlayouts='gb','pl'

# Network information
network --bootproto=dhcp --device=enp0s3 --ipv6=auto --hostname=fedora-server-new --activate

# System timezone
timezone Europe/Warsaw --utc

rootpw --iscrypted --allow-ssh $y$j9T$XivJoeqr.DbiQ0w4fsCLXP9v$KlyYeI/lUg1ogsGLr4/1kjTHEvm4hw0r06PcvI8UeK2
user --groups=wheel --name=jakub --password=$y$j9T$V6eFSDElTVYzcJjXAmRhRTMT$VS86h3X2ATJl5.1hkEf1QLYcfjsj6kEF36sUcnD3aY7 --iscrypted --gecos="jakub"

# Disk configuration
ignoredisk --only-use=sda
autopart
clearpart --none --initlabel

# Run the Setup Agent on first boot
firstboot --enable

# Package selection
%packages
@core
gcc
glibc
curl
%end

# Reboot after installation
#reboot