set default="0"

function load_video {
  insmod all_video
}

load_video
set gfxpayload=keep
insmod gzio
insmod part_gpt
insmod ext2
insmod chain

set timeout=0
### END /etc/grub.d/00_header ###

search --no-floppy --set=root -l 'Fedora-KS'

### BEGIN /etc/grub.d/10_linux ###
menuentry 'Install Fedora 41' --class fedora --class gnu-linux --class gnu --class os {
	linux /images/pxeboot/vmlinuz inst.stage2=hd:LABEL=Fedora-E-dvd-x86_64-41 inst.ks=https://tinyurl.com/34uj22hp quiet
	initrd /images/pxeboot/initrd.img
}

