#version=DEVEL
url --mirrorlist=http://mirrors.fedoraproject.org/mirrorlist?repo=fedora-38&arch=x86_64
repo --name=updates --mirrorlist=http://mirrors.fedoraproject.org/mirrorlist?repo=updates-released-f38&arch=x86_64

lang en_US.UTF-8
keyboard --vckeymap=us --xlayouts='us'
timezone Europe/Warsaw --utc

# Sieć
network --bootproto=dhcp --hostname=ansible-autoinstall

# Partycjonowanie
ignoredisk --only-use=sda
clearpart --all --initlabel
autopart --type=lvm

# Użytkownicy
rootpw --lock
user --groups=wheel --name=jakswie --password=$y$j9T$Mr0XK7071huZ9auLoqF71tE5$cG7Z/uXHucp8Mmc9B2sTxvMo6Zl.iQumpbaaYlH3Rl5 --iscrypted --gecos="jakswie"

# Pakiety
%packages
@^server-product-environment
docker
wget
%end

# Konfiguracja po instalacji
%post
echo "=== Pobieram i uruchamiam kontener aplikacji ==="
systemctl enable docker

# Pobranie i uruchomienie kontenera po pierwszym uruchomieniu
cat > /etc/systemd/system/node-app.service <<EOF
[Unit]
Description=Start Node.js To-Do App
After=docker.service
Requires=docker.service

[Service]
ExecStart=/usr/bin/docker run --rm -p 3000:3000 tygrysiatkomale/node-deploy:v3
Restart=always

[Install]
WantedBy=multi-user.target
EOF

systemctl enable node-app
%end

# Autoreboot
reboot
