#version=DEVEL

url --mirrorlist=http://mirrors.fedoraproject.org/mirrorlist?repo=fedora-41&arch=x86_64
repo --name=update --mirrorlist=http://mirrors.fedoraproject.org/mirrorlist?repo=updates-released-f41&arch=x86_64
network --hostname=fedora-netinst-2

keyboard --vckeymap=pl --xlayouts='pl'
lang pl_PL.UTF-8

%packages
@^custom-environment
docker
wget
%end

firstboot --enable

ignoredisk --only-use=sda
autopart
clearpart --all --initlabel

timezone Europe/Warsaw --utc

rootpw --iscrypted --allow-ssh $y$j9T$cAJf.pCdxJvjHY7SRrTOeA0t$t4psIzNQCdlN7NVNl6YKV0U/yzS0PIwKTskgWKh0OL6

%post
systemctl enable docker

cat <<'EOF' > /usr/local/bin/start_zlib.sh
#!/bin/bash
sleep 20

wget -q http://192.168.100.40:8000/zlib-runtime-1.0.0.tar -O /tmp/zlib-runtime.tar

docker load -i /tmp/zlib-runtime.tar

if docker ps -a --format '{{.Names}}' | grep -Eq "^zlib-app\$"; then
    docker rm -f zlib-app
fi

docker run --rm --name zlib-app mybuilder:zlib-1.0.0
EOF

chmod +x /usr/local/bin/start_zlib.sh

cat <<EOF > /etc/systemd/system/zlib-app.service
[Unit]
Description=Start zlib docker container
After=network.target docker.service
Requires=docker.service

[Service]
Type=simple
ExecStart=/usr/local/bin/start_zlib.sh
Restart=always
RestartSec=10

[Install]
WantedBy=multi-user.target
EOF

systemctl enable zlib-app.service
%end
