#version=DEVEL
# System language
lang pl_PL.UTF-8

# Keyboard layouts
keyboard --vckeymap=pl --xlayouts='pl'

# Timezone
timezone Europe/Warsaw --utc

# Network & hostname
network --hostname=fedora-docker-node

# Root user
rootpw --iscrypted --allow-ssh $y$j9T$BT0dYcpFq7wgHuNrYpBa3/O8$K.tSJXLkZv9cBS67kKVBGrna9W8E8I7L0WT6IBlcwH/

# User with sudo access
user --groups=wheel --name=wstarzyk --password=$y$j9T$MRuSJ6lvJaR6pRWX2WXBi4G9$anZCunEdWr2HO/EBwdK3wuGKZ7sE0WxnFycrA6mUxZ7 --iscrypted --gecos="Wojciech Starzyk"

# Installation source
url --mirrorlist=http://mirrors.fedoraproject.org/mirrorlist?repo=fedora-41&arch=x86_64
repo --name=update --mirrorlist=http://mirrors.fedoraproject.org/mirrorlist?repo=updates-released-f41&arch=x86_64

# System boot settings
firstboot --enable
reboot

# Partitioning
ignoredisk --only-use=sda
clearpart --all --initlabel
autopart

# Package selection
%packages
@^server-product-environment
@headless-management
docker
wget
%end

# Post-install script
%post --log=/root/post-install.log
# Enable Docker service
systemctl enable docker

# Create a systemd service to start the app container after the first boot
cat << 'EOF' > /etc/systemd/system/express-app.service
[Unit]
Description=Express App in Docker
Requires=docker.service
After=docker.service

[Service]
Restart=always
ExecStart=/usr/bin/docker run --rm --name express-app -p 3000:3000 zbogenza/express-app:latest
ExecStop=/usr/bin/docker stop express-app

[Install]
WantedBy=multi-user.target
EOF

# Enable the app service
systemctl enable express-app.service

%end
