#version=DEVEL
# System language
lang pl_PL.UTF-8

# Keyboard layouts
keyboard --vckeymap=pl --xlayouts='pl'

# Timezone
timezone Europe/Warsaw --utc

# Network & hostname
network --hostname=fedora-docker-node

# Root user
rootpw --iscrypted --allow-ssh $y$j9T$BT0dYcpFq7wgHuNrYpBa3/O8$K.tSJXLkZv9cBS67kKVBGrna9W8E8I7L0WT6IBlcwH/

# User with sudo access
user --groups=wheel --name=wstarzyk --password=$y$j9T$MRuSJ6lvJaR6pRWX2WXBi4G9$anZCunEdWr2HO/EBwdK3wuGKZ7sE0WxnFycrA6mUxZ7 --iscrypted --gecos="Wojciech Starzyk"

# Installation source
url --mirrorlist=http://mirrors.fedoraproject.org/mirrorlist?repo=fedora-41&arch=x86_64
repo --name=update --mirrorlist=http://mirrors.fedoraproject.org/mirrorlist?repo=updates-released-f41&arch=x86_64

# System boot settings
firstboot --enable
reboot

# Partitioning
ignoredisk --only-use=sda
clearpart --all --initlabel
autopart

# Package selection
%packages
@^server-product-environment
@headless-management
docker
wget
%end

%post --log=/root/post-install.log

# Włącz Docker (systemctl enable zadziała)
systemctl enable docker

# Utwórz service systemd, który uruchomi kontener
cat << 'EOF' > /etc/systemd/system/express-app.service
[Unit]
Description=Express App in Docker
Requires=docker.service
After=docker.service

[Service]
Restart=always
ExecStart=/usr/bin/docker run --rm --name express-app -p 3000:3000 zbogenza/express-app:latest
ExecStop=/usr/bin/docker stop express-app

[Install]
WantedBy=multi-user.target
EOF

# Włącz usługę aplikacji
systemctl enable express-app.service

# Utwórz skrypt startowy, który wykona docker pull po pierwszym uruchomieniu systemu
cat << 'EOF' > /usr/local/bin/docker_pull_and_start.sh
#!/bin/bash
# Poczekaj na start dockera
systemctl start docker

# Pobierz obraz
docker pull zbogenza/express-app:latest

# Włącz usługę express-app (start tylko raz)
systemctl start express-app.service

# Usuń ten skrypt po wykonaniu (aby nie odpalał się ponownie)
rm -f /usr/local/bin/docker_pull_and_start.sh
EOF

chmod +x /usr/local/bin/docker_pull_and_start.sh

# Utwórz jednostkę systemd, która odpali powyższy skrypt po starcie systemu (tylko raz)
cat << 'EOF' > /etc/systemd/system/docker-pull-once.service
[Unit]
Description=Download Docker Image and Start Express App (once)
After=network-online.target docker.service
Wants=network-online.target

[Service]
Type=oneshot
ExecStart=/usr/local/bin/docker_pull_and_start.sh
RemainAfterExit=yes

[Install]
WantedBy=multi-user.target
EOF

# Włącz tę usługę, by odpalała się po starcie systemu
systemctl enable docker-pull-once.service

%end

