url --mirrorlist=http://mirrors.fedoraproject.org/mirrorlist?repo=fedora-38&arch=x86_64
repo --name=update --mirrorlist=http://mirrors.fedoraproject.org/mirrorlist?repo=updates-released-f38&arch=x86_64

#version=DEVEL
# Keyboard layouts
keyboard --vckeymap=pl --xlayouts='pl'

# System language
lang pl_PL.UTF-8

# Host name
network --bootproto=dhcp --hostname=fedora-docker-task.local

# System timezone
timezone Europe/Warsaw --utc

# Root password
rootpw --iscrypted --allow-ssh $y$j9T$iyCkDGXNeMxo.onIHwKHSF5w$Byz6BLs39SIg0ibbzU0bW5/7cwMmQpu33qRl8En5MX3
user --groups=wheel --name=kwoda --password=$y$j9T$TLLTaYiukfmpauwCCb5SxHLb$/XiNokf52CU3rOgoaeQYovHtbbPCTh84u2uj2uOeH40 --iscrypted --gecos="Karol Woda"

# Packages to install
%packages
@^custom-environment
docker
wget
git
cronie
%end

# Partition clearing information
ignoredisk --only-use=sda
clearpart --none --initlabel
autopart --type=lvm

# Run the Setup Agent on first boot
firstboot --enable

# Post installation
%post
systemctl enable docker
systemctl enable crond
git clone https://github.com/karolwoda/twoje-repo.git /opt/my-repo
echo "@reboot /usr/bin/docker run --rm -v /opt/my-repo:/app yourdockerhubuser/your-image:latest" >> /var/spool/cron/root
%end

reboot



