#version=DEVEL
keyboard --vckeymap=pl --xlayouts='pl'
lang en_GB.UTF-8

network --bootproto=dhcp --device=enp0s3 --ipv6=auto --activate
network --hostname=Kickstart

repo --name=fedora --mirrorlist=http://mirrors.fedoraproject.org/mirrorlist?repo=fedora-41&arch=x86_64
repo --name=updates --mirrorlist=http://mirrors.fedoraproject.org/mirrorlist?repo=updates-released-f41&arch=x86_64

# dodanie paczek
%packages
@^server-product-environment
openssh-server
tar unzip curl
openssl-libs
jemalloc
%end

ignoredisk --only-use=sda
clearpart --all --initlabel
autopart

timezone Europe/Warsaw --utc

rootpw --iscrypted --allow-ssh $y$j9T$Ognusx5qbrEeyOBWvxX64RtQ$Jkgx.OTuErjEr7/Z6nPQWNDbe9djc.V5rwHIB/qASy8
user --groups=wheel --name=ansible --password=$y$j9T$51qqs8sZZ.5eB2RoFuFsfJ/0$CV0i5pdqN2Dc0CQbTKFuJeiBrxBqco0NqN9SkSP7rz6 --iscrypted --gecos="Ansible User"

# zapewnienie wyświetlania działań z sekcji post na ekranie
%post --interpreter=/bin/bash --erroronfail

exec > /dev/tty2 2>&1
set -x

echo ">>> START %post <<<" >&2

# instalacja dockera
dnf install -y docker curl
systemctl enable docker.service

# adres do zipa z binarkami redisa i pobranie go
ZIP_URL="https://raw.githubusercontent.com/InzynieriaOprogramowaniaAGH/MDO2025_INO/MG417201/INO/GCL01/MG417201/redis-ci-cd/output/redis-1.0.zip"
curl -sSL "$ZIP_URL" -o /tmp/redis.zip || {
  echo "ERROR: nie udało się pobrać artefaktu" >&2
  exit 1
}

# wypakowanie oraz zmiana uprawnień binarek
unzip -o /tmp/redis.zip -d /usr/local/bin
chmod +x /usr/local/bin/redis-server /usr/local/bin/redis-cli

# definicja i zapis usługi systemd redis-app
cat > /etc/systemd/system/redis-app.service << 'EOF'
[Unit]
Description=Redis Runtime
After=network.target
Requires=network.target

[Service]
Type=simple
#komenda uruchamiająca redis-server
ExecStart=/usr/local/bin/redis-server
# komenda do wywołania podczas zatrzymania usługi
ExecStop=/usr/local/bin/redis-cli shutdown
Restart=always
User=ansible

[Install]
WantedBy=multi-user.target
# koniec definicji usługi
EOF

# włączenie i uruchomienie usługi przy każdym uruchomieniu usługi
systemctl enable redis-app.service

echo ">>> END %post <<<" >&2

%end
