#version=DEVEL

keyboard --vckeymap=pl --xlayouts='pl'
lang pl_PL.UTF-8
timezone Europe/Warsaw --utc

network --bootproto=dhcp --device=eth0 --activate
network --hostname=fedora-mruby.local

url --mirrorlist=http://mirrors.fedoraproject.org/mirrorlist?repo=fedora-41&arch=x86_64
repo --name=update --mirrorlist=http://mirrors.fedoraproject.org/mirrorlist?repo=updates-released-f41&arch=x86_64

ignoredisk --only-use=sda
clearpart --all --initlabel
autopart
bootloader --location=mbr

rootpw haslo123 --plaintext
user --groups=wheel --name=kasiam --password=haslo123 --plaintext --gecos="kasiam"

%packages
@^minimal-environment
@container-management
wget
curl
%end

firstboot --enable
reboot

%post --log=/root/ks-post.log

systemctl enable docker
mkdir -p /opt/mruby
cd /opt/mruby

# Lista binarek
for bin in mruby mrbc mirb mrdb mruby-config mruby-strip; do
  wget -O "$bin" "https://raw.githubusercontent.com/InzynieriaOprogramowaniaAGH/MDO2025_INO/KM417392/ITE/GCL05/KM417392/Sprawozdanie2/mruby-pipeline/mruby.deploy/$bin"
  chmod +x "$bin"
  cp "$bin" /usr/local/bin/
done

# Pobierz skrypt
wget -O script.rb https://raw.githubusercontent.com/InzynieriaOprogramowaniaAGH/MDO2025_INO/KM417392/ITE/GCL05/KM417392/Sprawozdanie2/mruby-pipeline/script.rb

# Usługa systemd
cat <<EOF > /etc/systemd/system/mruby.service
[Unit]
Description=Run MRuby with script.rb on boot
After=network.target

[Service]
ExecStart=/usr/local/bin/mruby /opt/mruby/script.rb
Restart=always

[Install]
WantedBy=multi-user.target
EOF

systemctl enable mruby.service

%end
