%post --log=/root/ks-post.log

# Dodanie repozytorium Dockera
dnf install -y dnf-plugins-core
dnf config-manager --add-repo https://download.docker.com/linux/fedora/docker-ce.repo

# Instalacja Dockera
dnf install -y docker-ce docker-ce-cli containerd.io

# Włącz i uruchom Docker
systemctl enable docker
systemctl start docker

# Dodaj użytkownika kasiam do grupy docker
usermod -aG docker kasiam

# Utwórz katalog i pobierz script.rb
mkdir -p /opt/mruby
cd /opt/mruby
wget -O script.rb https://raw.githubusercontent.com/InzynieriaOprogramowaniaAGH/MDO2025_INO/KM417392/ITE/GCL05/KM417392/Sprawozdanie2/mruby-pipeline/script.rb

# Utwórz usługę systemd z montowaniem woluminu i bez --rm
cat <<EOF > /etc/systemd/system/mruby-container.service
[Unit]
Description=Run MRuby container with mounted script.rb
After=network.target docker.service
Requires=docker.service

[Service]
Restart=always
ExecStart=/usr/bin/docker run --name mruby-container \\
  -v /opt/mruby/script.rb:/app/script.rb \\
  kasiam23/mruby:latest
ExecStop=/usr/bin/docker stop mruby-container

[Install]
WantedBy=multi-user.target
EOF

# Włącz usługę przy starcie
systemctl enable mruby-container.service

%end
