#version=DEVEL

lang pl_PL.UTF-8
keyboard --vckeymap=pl --xlayouts='pl'
network  --bootproto=dhcp --device=eth0 --ipv6=auto --activate --hostname=curl-final-host

url --mirrorlist=http://mirrors.fedoraproject.org/mirrorlist?repo=fedora-41&arch=x86_64
repo --name=updates --mirrorlist=http://mirrors.fedoraproject.org/mirrorlist?repo=updates-released-f41&arch=x86_64
repo --name=docker-ce-stable --baseurl=https://download.docker.com/linux/fedora/41/x86_64/stable

ignoredisk --only-use=sda
autopart
clearpart --all --initlabel

timezone Europe/Warsaw --utc
rootpw --plaintext toor
firstboot --enable

%packages
@core
docker-ce
docker-ce-cli
containerd.io
wget
%end

%post --log=/root/kickstart-post.log

VERSION=latest
IMAGE=bskubel/curl-final:${VERSION}

systemctl enable docker
systemctl start docker

docker pull ${IMAGE}

docker run --rm ${IMAGE} curl --version || echo "Test curl --version nie powiódł się"

cat > /etc/systemd/system/curl-final.service <<EOF
[Unit]
Description=Curl Final Container
Requires=docker.service network-online.target
After=docker.service network-online.target

[Service]
Restart=always
ExecStartPre=-/usr/bin/docker rm -f curl-final
ExecStart=/usr/bin/docker run --name curl-final ${IMAGE} tail -f /dev/null
ExecStop=/usr/bin/docker stop curl-final

[Install]
WantedBy=multi-user.target
EOF

systemctl enable curl-final.service

%end

reboot
