keyboard --vckeymap=us --xlayouts='us'
lang en_US.UTF-8

# Dodanie repozytoriów dla instalatora Netinst (dla Fedory 41)
url --mirrorlist=http://mirrors.fedoraproject.org/mirrorlist?repo=fedora-41&arch=x86_64
repo --name=updates --mirrorlist=http://mirrors.fedoraproject.org/mirrorlist?repo=updates-released-f41&arch=x86_64

# Ustawienie hostname
network --hostname=fedora-auto

%packages
@^server-product-environment
%end

firstboot --enable

ignoredisk --only-use=sda
autopart
clearpart --all --initlabel

timezone America/New_York --utc

rootpw --lock
user --groups=wheel --name=igorek --password=$y$j9T$SlHjB7.iToBgDWWC6xU/34EW$KSpKuf8M46tNn.ILM.UKxURHbEkoYKL33CtT2sxy5Y. --iscrypted --gecos="igorek"
