#version=DEVEL

# Keyboard layouts
keyboard --vckeymap=pl --xlayouts='pl'
# System language
lang pl_PL.UTF-8

# System timezone
timezone Europe/Warsaw --utc

# Root password
rootpw --iscrypted --allow-ssh $y$j9T$vVs/x/BIvNTzdCNb/XPjlpi1$caolusBjQ.BUSIKXzN7shSyZtKcPlHpcPjmaLbZt4n7
user --groups=wheel --name=kolezynski --gecos="kolezynski"

ignoredisk --only-use=sda
autopart
clearpart --none --initlabel

firstboot --enable

%packages
@^server-product-environment
java-11-openjdk-headless
wget
%end

%post --log=/root/post-install.log

mkdir -p /usr/local/bin

wget -O /usr/local/bin/swiftcode-application.jar https://raw.githubusercontent.com/InzynieriaOprogramowaniaAGH/MDO2025_INO/MK415983/ITE/GCL04/MK415983/Sprawozdanie3/swiftcode-application.jar

# Make sure it's executable
chmod +x /usr/local/bin/swiftcode-application.jar

# Create a systemd service
cat > /etc/systemd/system/myapp.service << EOF
[Unit]
Description=Swiftcode App
After=network.target

[Service]
ExecStart=/usr/bin/java -jar /usr/local/bin/swiftcode-application.jar
Restart=always
User=root

[Install]
WantedBy=multi-user.target
EOF

systemctl enable myapp.service

%end