#version=DEVEL
install
lang en_US.UTF-8
keyboard us
timezone Europe/Warsaw --isUtc
rootpw --plaintext haslo123
firewall --enabled
authconfig --enableshadow --passalgo=sha512
selinux --enforcing
reboot

# Instalacja na całym dysku
clearpart --all --initlabel
autopart

network --bootproto=dhcp --device=eth0 --onboot=on --activate
bootloader --location=mbr

%packages
@^minimal-environment
docker
wget
%end

%post --log=/root/ks-irssi.log

echo "Włączanie Dockera..."
systemctl enable docker
usermod -aG docker root

echo "Tworzenie pliku systemd do uruchamiania kontenera przy starcie..."

cat > /etc/systemd/system/irssi-container.service <<EOF
[Unit]
Description=Uruchamia kontener IRSSI
After=network-online.target docker.service
Wants=network-online.target

[Service]
Restart=always
ExecStart=/usr/bin/docker run -d --name irssi --tty natalia232002/docker-runtime
ExecStop=/usr/bin/docker stop irssi
ExecStopPost=/usr/bin/docker rm irssi

[Install]
WantedBy=multi-user.target
EOF

# Włączenie usługi
systemctl enable irssi-container.service

echo "Instalacja zakończona"
%end
