#version=DEVEL
text

# Ustawienia podstawowe
keyboard --vckeymap=pl --xlayouts='pl'
lang pl_PL.UTF-8
timezone Europe/Warsaw --utc
network --bootproto=dhcp --hostname=docker-host

# Repozytoria
url --mirrorlist=https://mirrors.fedoraproject.org/mirrorlist?repo=fedora-41&arch=x86_64
repo --name=docker-ce --baseurl=https://download.docker.com/linux/fedora/$releasever/x86_64/stable

# Partycjonowanie
ignoredisk --only-use=sda
clearpart --all --initlabel
autopart
bootloader --location=mbr --boot-drive=sda

# Użytkownicy
rootpw --iscrypted $y$j9T$bYsrlfsT.xOz.HnFs6p0.CGV$KJfyHWnlC2QSn.C4iSKF4.n/cXOkHeBWnkzc.ir3W.6
user --groups=wheel --name=deployer --password=$y$j9T$pLqeTKbiuATpRiPcfZxPkjHm$y1ezi7L2OpuRomtwnXMcSEMYRXQ6ZUvqWNp3ACsGEa/ --iscrypted --gecos="Deployment User"

# Pakiety
%packages
@^server-product-environment
dnf-plugins-core
docker-ce
docker-ce-cli
containerd.io
curl
wget
%end

# Konfiguracja post-install
%post
#!/bin/bash

# 1. Konfiguracja Dockera
mkdir -p /etc/docker
cat <<EOF > /etc/docker/daemon.json
{
  "storage-driver": "overlay2",
  "log-driver": "json-file",
  "log-opts": {
    "max-size": "10m",
    "max-file": "3"
  }
}
EOF

# 2. Pobranie obrazu dockera (bez uruchamiania)
docker pull janekrzodki/nodeapp:latest

# 3. Przygotowanie skryptu startowego
cat <<'EOF' > /usr/local/bin/start-app
#!/bin/bash
# Czekaj na działający docker
while ! systemctl is-active --quiet docker; do
  sleep 1
done
docker network create my_network
# Uruchom kontener
docker run -d \
  --name myapp \
  --restart unless-stopped \
  -p 8888:3000 \
  --network my_network
  janekrzodki/nodeapp:latest
EOF

chmod +x /usr/local/bin/start-app

sleep 5

# Wywołanie testowe
curl -s http://localhost:8888 > /var/log/app-test-response.html

# 4. Utworzenie usługi systemd
cat <<EOF > /etc/systemd/system/app-start.service
[Unit]
Description=Start Application Container
After=docker.service
Requires=docker.service

[Service]
Type=oneshot
ExecStart=/usr/local/bin/start-app
RemainAfterExit=yes

[Install]
WantedBy=multi-user.target
EOF

# 5. Aktywacja usługi
systemctl enable app-start.service

# Zapisanie wersji obrazu do logów
docker inspect --format='{{.RepoDigests}}' janekrzodki/nodeapp:latest > /var/log/app-image-version.log
%end

firstboot --enable
reboot
