#version=DEVEL

# Źródło instalacji
url --mirrorlist=https://mirrors.fedoraproject.org/mirrorlist?repo=fedora-41&arch=x86_64
repo --name=update --mirrorlist=https://mirrors.fedoraproject.org/mirrorlist?repo=updates-released-f41&arch=x86_64

# Podstawowe ustawienia
keyboard --vckeymap=us --xlayouts='us'
lang en_US.UTF-8
network --bootproto=dhcp --hostname=serwer41.local
skipx
timezone Europe/Warsaw --utc

# Użytkownicy
rootpw --iscrypted $y$j9T$bYsrlfsT.xOz.HnFs6p0.CGV$KJfyHWnlC2QSn.C4iSKF4.n/cXOkHeBWnkzc.ir3W.6
user --groups=wheel --name=jasiek --password=$y$j9T$pLqeTKbiuATpRiPcfZxPkjHm$y1ezi7L2OpuRomtwnXMcSEMYRXQ6ZUvqWNp3ACsGEa/ --iscrypted --gecos="jasiek"

# Partycjonowanie (10 GB)
ignoredisk --only-use=sda
clearpart --all --initlabel  # Wymusza czyszczenie dysku
autopart --type=lvm         # Automatyczne partycjonowanie z LVM
bootloader --location=mbr --boot-drive=sda

# Pakiety
%packages
@^server-product-environment
%end

# Końcowe ustawienia
firstboot --enable
reboot
