#version=DEVEL

# Źródło pakietów z Internetu
url --mirrorlist=https://mirrors.fedoraproject.org/mirrorlist?repo=fedora-41&arch=x86_64
repo --name=update --mirrorlist=https://mirrors.fedoraproject.org/mirrorlist?repo=updates-released-f41&arch=x86_64

# Klawiatura i język systemu
keyboard --vckeymap=us --xlayouts='us'
lang en_US.UTF-8

# Hostname (zmień na dowolną nazwę np. serwer41.local)
network --bootproto=dhcp --hostname=serwer41.local
skipx
# Czas i strefa czasowa
timezone Europe/Warsaw --utc

# Użytkownicy i hasła
rootpw --iscrypted $y$j9T$bYsrlfsT.xOz.HnFs6p0.CGV$KJfyHWnlC2QSn.C4iSKF4.n/cXOkHeBWnkzc.ir3W.6
user --groups=wheel --name=jasiek --password=$y$j9T$pLqeTKbiuATpRiPcfZxPkjHm$y1ezi7L2OpuRomtwnXMcSEMYRXQ6ZUvqWNp3ACsGEa/ --iscrypted --gecos="jasiek"

# Partycjonowanie
ignoredisk --only-use=sda
autopart
clearpart --all
bootloader --location=mbr --boot-drive=sda
part /boot --fstype="xfs" --size=500
part swap --size=1024                   
part / --fstype="xfs" --size=8500 --grow
# Pakiety
%packages
@^server-product-environment
%end

# Pierwsze uruchomienie - włącz kreatora
firstboot --enable
reboot
